/* https://picsum.photos/200/300 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#schermata-video {
    height: 90%;
    position: relative;
    background-color: black
}

.top-setting {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    padding: 3px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

.didascalie {
    font-weight: 600;
    font-size: 0.8em;
    color: white;
    padding: 2px 4px;
    line-height: 1em;
}

.modifica-vista, .allarga-schermo {
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
}

.contenitore-video {
    width: 90%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    gap: 3px;

    /* overflow-y: auto; */
    
    position: absolute;
    top: 8%;
    left: 5%;

}

.card-video {
    position: relative;
    width: calc(100% / 7 - 3px);
    height: calc(100% / 5 - 3px);
    min-width: 100px;
}

.card-video img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.didascalie.username {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(74, 74, 74, 0.5);
    padding: 5px;
}






#barra-comandi {
    height: 10%;

    /* debug */
    background-color: dodgerblue;
}